<!DOCTYPE html>
<html lang="en">
    <head>
    
        <!-- ===== Iconscout CSS ===== -->
        <link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <!-- ===== CSS ===== -->
        <link rel="stylesheet" type="text/css" href="css/style_login.css">
             
        <!--<title>Login & Registration Form</title>-->
    </head>
</html>
<body>
    <%- body %>
</body>