<div class="nav">
  <ul>
    <li><a href="/" class="active">Home</a></li>
    <li><a href="/approve_pembayaran">Approve Pembayaran</a></li>
    <li><a href="/kelola_keuangan">Kelola Keuangan</a></li>
    <li><a href="/buat_akun">Buat Akun</a></li>
    <li><a href="/input_perintah">Buat Perintah</a></li>
    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">
        <p>Hallo, Username</p>
        <i class="bi bi-person-circle icon-user-nav"></i>
      </a>
      <div class="dropdown-content">
        <a href="/profile_warga">Profile</a>
        <a href="#">Logout</a>
      </div></li>
  </ul>
</div>