<div class="nav">
    <ul>
      <li><a href="/" style="text-decoration: none; padding: 0;" class="back-icon"><i class="bi bi-arrow-left icon-back"></i></a></li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">
          <p>Hallo, Username</p>
          <i class="bi bi-person-circle icon-user-nav"></i>
        </a>
        <div class="dropdown-content">
          <a href="/profile_warga">Profile</a>
          <a href="/approve_pembayaran">Approve Pembayaran</a>
          <a href="#">Link 3</a>
        </div></li>
    </ul>
  </div>