<div class="container">
    <div class="container-judul">
        <div class="header-judul">
            <h2>Approve Pembayaran</h2>
        </div>
        <a href="/sub_approve" class="container-approve">
            <div class="container-approve2">
                <h4>Uang Keamanan</h4>
                <i class="bi bi-shield-shaded icon-approve"></i>
            </div>
        </a>
        <a href="/sub_approve" class="container-approve">
            <div class="container-approve2">
                <h4>Uang Kebersihan</h4>
                <i class="bi bi-trash icon-approve"></i>
            </div>
        </a>
    </div>
</div>