<div class="container-2">
    <div class="container-buat-akun">
        <h4>Buat Akun</h4>
        <div class="row">
            <div class="col-25">
                <label for="nama">Nama</label>
            </div>
            <div class="col-75">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="nama">Username</label>
            </div>
            <div class="col-75">
                <input type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="nama">Password</label>
            </div>
            <div class="col-75">
                <input type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="nama">Confirm Password</label>
            </div>
            <div class="col-75">
                <input type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="nama">Email</label>
            </div>
            <div class="col-75">
                <input type="email">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="">No. Identitas/KTP</label>
            </div>
            <div class="col-75">
                <input type="number">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="nama">No. Telepon</label>
            </div>
            <div class="col-75">
                <input type="number">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="nama">Alamat</label>
            </div>
            <div class="col-75">
                <input type="text">
            </div>
        </div>
        <button class="btn-bayar">Submit</button>
    </div>
</div>