<div class="container">
    <% berita.forEach(item => { %>
     
        <div class="container-berita">
            <div class="img-berita">
                <img src="<%= item.imgBerita %>" alt="">
            </div>
            <div class="content-berita">
                <%= item.contentBerita %>
            </div>
        </div>
    <% }) %>
</div>