<div class="container-2">
    <div class="container-perintah">
        <div class="row">
            <div class="col-25">
                <label for="perintah">Tipe perintah</label>
            </div>
            <div class="col-75">
                <select name="sel-perintah" id="sel-perintah">
                    <option value="tagihan">Tagihan</option>
                    <option value="Tugas">Tugas</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="perintah">Masukan perintah</label>
            </div>
            <div class="col-75"><textarea name="perintah" id="perintah" cols="30" rows="10" placeholder="Masukan Perintah Anda Tuan"></textarea></div>
        </div>
        <button class="btn-bayar">Submit</button>
    </div>
</div>