<div class="container">
    <div class="container-judul">
        <div class="header-judul">
            <h2>Keuangan Perum Sugan Rame</h2>
        </div>
        <a href="/sub_keuangan" class="container-keuangan">
            <div class="container-keuangan2">
                <h4>Uang Keamanan</h4>
                <i class="bi bi-shield-shaded icon-keuangan"></i>
            </div>
        </a>
        <a href="/sub_keuangan" class="container-keuangan">
            <div class="container-keuangan2">
                <h4>Uang Kebersihan</h4>
                <i class="bi bi-shield-shaded icon-keuangan"></i>
            </div>
        </a>
    </div>
</div>