<div class="container">
	<h4>Laporan Keuangan Perum Sugan Rame</h4>
<div class="container1">
    <div class="heading">
		<div class="board">No.</div>
		<div class="board">Tanggal</div>
		<div class="board">Keterangan</div>
		<div class="board">Pemasukan</div>
		<div class="board">Pengeluaran</div>
    </div>
	<div class="table-row">
		<div class="board">1</div>
		<div class="board">28-10-2022</div>
		<div class="board">beli gapleh</div>
		<div class="board">{id}</div>
		<div class="board">Rp.10.000</div>
    </div>
	<div class="table-row strip">
        <div class="board">2</div>
		<div class="board">28-10-2022</div>
		<div class="board">beli remi</div>
		<div class="board">{id}</div>
		<div class="board">Rp.5.000</div>
    </div>
	<div class="table-row">
        <div class="board">3</div>
		<div class="board">28-10-2022</div>
		<div class="board">beli cctv</div>
		<div class="board">{id}</div>
		<div class="board">Rp.300.000</div>
    </div>
	<div class="table-row strip">
        <div class="board">4</div>
		<div class="board">28-10-2022</div>
		<div class="board">bola voli</div>
		<div class="board">{id}</div>
		<div class="board">Rp.100.000</div>
    </div>
	<div class="table-row">
        <div class="board">5</div>
		<div class="board">28-10-2022</div>
		<div class="board">bikin stadion</div>
		<div class="board">{id}</div>
		<div class="board">Rp.30.000.000</div>
    </div>
	<div class="table-row strip">
		<div class="grid">total</div>
		<div class="grid">Pemasukan</div>
		<div class="grid">Pengeluaran</div>
	</div>
</div>
</div>