<div class="container-keuangan">
    <div class="container-keuangan2">
        <div class="header-keuangan">
            <h2>Keuangan Perum Sugan Rame</h2>
        </div>
    </div>
        <div class="container-keamanan">
            <a href="">Keamanan</a>
        </div>
        <div class="container-sampah">
            <a href="">Kebersihan</a>
            <i class="bi bi-trash3"></i>
        </div>
</div>