<div class="container">
    <div class="container-profile">
        <div class="header-profile">
            <h2>Profile</h2>
            <div class="user-img">
                <img src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-Vector-PNG-Photo.png" alt="">
            </div>
            <h4>Ayu Rohmah Maulida</h4>
            <button onclick="location.href='/edit_profile'" type="button">
                Edit Profile
            </button>
        </div>
        <div class="datadiri">
            <ul>
                <li>Nama</li>
                <li>Tempat, Tanggal Lahir</li>
                <li>Nomor Identitas</li>
                <li>No. Telepon</li>
                <li>Email</li>
                <li>No. Rumah</li>
                <li>Pekerjaan</li>
            </ul>
            <ul class="isi-datadiri">
                <li>: Ayu Rohmah Maulida</li>
                <li>: Serang, 16 Desember 2000</li>
                <li>: 398719283746</li>
                <li>: 0812383849</li>
                <li>: asdjlaksjd@gmail.com</li>
                <li>: Blok C No.31</li>
                <li>: Mahasiswa</li>
            </ul>
        </div>
    </div>
</div>