<div class="container">
    <div class="container-profile">
        <div class="header-profile">
            <h2>Profile</h2>
            <div class="user-img">
                <img src="https://www.pngall.com/wp-content/uploads/12/Avatar-Profile-Vector-PNG-Photo.png" alt="">
            </div>
            <h4>Ayu Rohmah Maulida</h4>
            <button onclick="location.href='/edit_profile'" type="button">
                Edit Profile
            </button>
        </div>
        <form class="form-datadiri" action="">
            <div class="row">
                <div class="col-25">
                    <label for="">Nama</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="Ayu Rohmah Maulida">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">Tempat, Tanggal Lahir</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="Serang, 16 Desember 2000">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">No. Identits/KTP</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="398719283746">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">No. Telepon</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="0812383849">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">Email</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="asdjlaksjd@gmail.com">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">No. Rumah</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="Blok C No.31">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="">Pekerjaan</label>
                </div>
                <div class="col-75">
                    <input readonly type="text" id="" name="" placeholder="Mahasiswa">
                </div>
            </div>
        </form>
    </div>
</div>