<div class="container">
    <div class="card-transaksi">
        <div class="header-transaksi"><h4>Pembayaran Bulan ke - 'i'</h4></div>
        <div class="header-pembayaran"><h4>Jumlah Pembayaran Rp. 5.000</h4></div>
        <label for="metodePembayaran">Metode Pembayaran</label>
        <select name="metodePembayaran" id="metodePembayaran">
            <option value="dana">Dana</option>
            <option value="shopeepay">Shopeepay</option>
            <option value="ovo">Ovo</option>
            <option value="transfer">Transfer</option>
        </select>
        <button class="btn-bayar">Bayar</button>
    </div>
</div>