/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* topheader */
.topbar{
  font-size: 20px;
  letter-spacing: 10px;
  font-family: 'Pacifico';
  padding: 18px;
  text-align: center;
  color: #04aa6d;
  background-color: #caf0c7;
}

/* navbar */
.nav {
  background-color: #9edba2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b8e6b3;
  font-size: 17px;
}

.nav li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #04aa6d;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: 	#04aa6d;
  color: #ffff;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #04aa6d;
  color: white;
}

.nav .icon {
  display: none;
}

/* footer */
/* The footer is fixed to the bottom of the page */

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: absolute; }
	header { padding-top:40px; }
}

.footer-distributed{
	background-color: #caf0c7;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
  font-family: 'Pacifico';
	padding: 10px;
}

.footer-distributed .footer-left{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed .footer-company-name{
	color:  #04aa6d;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 0px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
}