/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
/* bootstrap icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* All */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

/* topheader */
.topbar {
  font-size: 20px;
  letter-spacing: 10px;
  font-family: "Pacifico";
  padding: 18px;
  text-align: center;
  color: #04aa6d;
  background-color: #caf0c7;
}

/* navbar */
.nav {
  background-color: #9edba2;
  overflow: hidden;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b8e6b3;
  font-size: 17px;
}

.nav li {
  float: left;
}

/* user icon */
.icon-user-nav {
  color: white;
  font-size: 35px;
  float: right;
  display: inline;
  margin-top: 3px;
}

.icon-back {
  color: white;
  font-size: 35px;
  float: right;
  display: inline;
  padding-left: 20px;
  margin-top: 3px;
}

.back-icon:hover {
  padding: 0px;
  text-decoration: none;
  background-color: transparent;
}

/* user nav */
li a,
p {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.dropbtn {
  padding: 0px;
  color: white;
  text-align: center;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #04aa6d;
}

li.dropdown {
  float: right;
  margin-right: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 182px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav a.active {
  background-color: #04aa6d;
  color: white;
}

.nav .icon {
  display: none;
}

/* footer */
/* The footer is fixed to the bottom of the page */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height: 400px) {
  footer {
    position: absolute;
  }
}

.footer-distributed {
  background-color: #caf0c7;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: "Pacifico";
  padding: 0px;
  letter-spacing: 2px;
}

.footer-distributed .footer-left {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-company-name {
  color: #04aa6d;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 400px) {
  .footer-distributed .footer-left {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
  }
}

/* Body Index */
.container {
  margin: 20px;
  padding: 2px;
  width: 98%;
  align-items: center;
  text-align: center;
}

.card-body {
  margin: 0 10px 30px 10px;
  display: inline-block;
  border: 1px solid rgb(214, 214, 214);
  width: 360px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  margin: 20px 20px 0px 20px;
  width: auto;
  height: 250px;
  overflow: hidden;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 8px;
}

.card-img img {
  width: 100%;
  height: auto;
  margin: 5px;
}

.card-content {
  margin: 20px 25px 0px 25px;
  width: auto;
  height: auto;
}

/* Detail Berita */
.container-berita {
  margin: auto;
  width: 70%;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.img-berita {
  margin: 40px;
  width: auto;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.content-berita {
  margin: 40px;
  justify-content: center;
}

.img-berita img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Profile */
.container-profile{
  margin: auto;
  width: 70%;
  height: auto;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: left;
}
.header-profile {
  text-align: center;
}

.user-img{
  width: 220px;
  height: 250px;
  margin: auto;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-img img{
  width: 220px;
  height: 250px;
  object-fit: cover;
}

.header-profile h2 {
  font-size: 40px;
  margin: 12px 0;
  font-family: "Pacifico";
}

.header-profile h4{
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: cursive;

}


.header-profile button{
  padding: 0px;
  width: 110px;
  height: 40px;
  text-decoration: none;
  color: white;
  background-color: #9edba2;
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
}

.header-profile button:hover{
  color: white;
  background-color: #04aa6d;
}

.form-datadiri{
  margin-top: 40px;
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.form-datadiri input:read-only[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 0 35px 20px 0;
}

/* edit profile */
.edit-form-datadiri{
  margin-top: 40px;
  width: 100%;
  height: auto;
}

input[type=text] {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin: 0 35px 20px 0;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.col-25 {
  margin-left: 50px;
  float: left;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 70%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Kelola Pembayaran */
.icon-pembayaran{
  font-size: 100px;
  margin: 20px;
  color: #04AA6D  ;
}

.container-pembayaran{  
  height: 200px;
  width: 300px  ;
  display: inline-block;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin: 20px 10px 10px 0px;
}

.container-pembayaran h4{
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  font-size: 20px;
}

.link-containerPembayaran{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
}

/* sub pembayaran */
.header-pembayaran{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 1100px;
  margin-right: 10px;
}

.header-pembayaran h4{
  font-family: cursive;
  font-size: x-large;
  color: #04AA6D;
  font-weight: 600;
  margin: 20px;
  display: inline-block;
}

.card-pembayaran{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 20px;
  border: 1px solid rgb(214, 214, 214);
  height: 60px;
  text-align: left;
}

.card-pembayaran h4{
  font-size: large;
  margin: 17px 0px 10px 20px;
}

.lunas{
  padding: 0px;
  margin-top: 10px;
  margin-right: 20px;
  width: 180px;
  height: 40px;
  text-decoration: none;
  color: white;
  background-color: #04AA6D;
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
  float: right;
}

.belum-lunas{
  padding: 0px;
  margin-top: 10px;
  margin-right: 20px;
  width: 180px;
  height: 40px;
  text-decoration: none;
  color: white;
  background-color: #da3d3d;
  border: none;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 8px;
  float: right;
}

.header-pembayaran .belum-lunas:hover{
  color: white;
  background-color: #ff0000;
}

/* Kelola Keuangan */
.container-judul{
  margin: auto;
  padding: 5px;
  width: 70%;
  height: auto;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
}
.header-judul{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: cursive;
  color: #04aa6d;
}
.container-keuangan{
  text-decoration: none;
  text-decoration-style: none;
  color: inherit;
}
.icon-keuangan{
  font-size: 100px;
  margin: 20px;
  color: #04AA6D  ;
}
.container-keuangan2{  
  height: 200px;
  width: 300px  ;
  display: inline-block;
  border: 1px solid rgb(214, 214, 214);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin: 20px 10px 10px 0px;
}
.container-keuangan2 h4{
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
  font-size: 20px;
}

