/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* topheader */
.topbar{
  font-size: 20px;
  letter-spacing: 10px;
  font-family: 'Pacifico';
  padding: 18px;
  width: 100%;
  text-align: center;
  color: #04aa6d;
  background-color: #caf0c7;
}

/* navbar */
.nav {
  background-color: #9edba2;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b8e6b3;
  font-size: 17px;
}

.nav li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #04aa6d;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: 	#04aa6d;
  color: #ffff;
}

/* Add an active class to highlight the current page */
.nav a.active {
  background-color: #04aa6d;
  color: white;
}

.nav .icon {
  display: none;
}
